.button{
    width: 159px;
    height: 55px;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 30px;
    margin-left: 17px;
    color: black;
   
    button{
        width: 100%;
        height: 100%;
        border-radius: 7px;
        background-color: transparent;
        border: 1px solid black;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: 400;
        color: black;
    }
  }

  @media only screen and (max-width: 1024px){
    .button{
        width: 100px;
        height: 35px;
        button{
            font-size: 12px;
        }
      }
  }