.navbar-container{
    width: 100%;
    height: auto;
    position: relative;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 100px;
        position: relative;
        &_icons{
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            span{
                font-size: 1.5rem;
                opacity: 87%;
                &:first-child{
                    font-size: 1.9rem;
                }
            }
        }
        &_logo{
            position: absolute; 
            left: 50%; 
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            
           p{
            margin: 0; 
            font-size: 2rem; 
            font-family: 'Abhaya Libre'; 
            font-weight: 400;
            text-transform: uppercase;
           }
            
        }
        &_menu{
            font-size: 40px;
            cursor: pointer;
            opacity: 87%;
        }
    }
}

@media only screen and (max-width: 1024px)  {
    .navbar-container{
        &__content{
            padding: 15px 50px;
            &_icons{
                gap: 15px;
                span{
                    font-size: 1.2rem;
                    &:first-child{
                        font-size: 1.4rem;
                    }
                }
            }
            &_logo{
                position: absolute; 
                left: 50%; 
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                
               p{
                font-size: 1.8rem; 
               }
                
            }
            &_menu{
                font-size: 25px;
            }
        }
    }
   
}

@media only screen and (max-width: 600px)  {
    .navbar-container{
        &__content{
            padding: 5px 10px;
            &_icons{
                gap: 3px;
                span{
                    font-size: 0.9rem;
                    &:first-child{
                        font-size: 1rem;
                    }
                }
            }
            &_logo{
                
               p{
                font-size: 1.6rem; 
               }
                
            }
            &_menu{
                font-size: 25px;
            }
        }
    }
}